[[source]]
name = "pypi"
url = "http://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.3"
markdown = "*"
django-mdeditor = "*"
faker = "*"
django-pure-pagination = "*"

[requires]
python_version = "3.6"
