{% extends './base.html' %}
{% load static %}
    {% block main %}
					<main class="col-md-12">
						<h1 class="page-title">About Me</h1>
						<article class="post">
							<div class="entry-content clearfix">
								<figure class="img-responsive-center">
									<img class="img-responsive" src="{% static 'img/me.jpg' %}" alt="Developer Image">
								</figure>
								<p>不合格的程序员，主要语言 PHP、Python、Shell</p>
                                <p>技术栈有Laravel、Django、MySQL、Linux、Docker</p>
								<p>此博客更多的是记录自己平时工作过程中遇到的问题，解决的方法，以及学习中好的经验分享，留作日后查看。
                                旧博客地址为<a href="https://www.zc0317.com">https://www.zc0317.com</a> 已经停止更新，新的更新会在此博客中继续。</p>
								<div class="height-40px"></div>
							</div>
						</article>
					</main>
    {% endblock %}
